<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>HiveTaxi-Test</title>
</head>
<body>
<form action="/page.html" method="POST">
    /search: <input type="text" name="tag"/>
    <input type="submit" value="Ok">
</form>

<p>Tag: ${tag}</p>

<p>URL: <a href="https://api.stackexchange.com/2.2/search?pagesize=100&order=desc&sort=creation&tagged=${tag}&site=stackoverflow">Stack Overflow</a> </p>

<p>PathInfo: ${pathInfo}</p>

<p>SessionId: ${sessionId}</p>

<p>Parameters: ${parameters}</p>

</body>
</html>

